:root {
    --white: #ffffff;
    --darkwhite: #f7f7f7;
    --black: #000000;
    --red: #cb0a15;
    --gray-header-text: #4d4d4d;
    --gray-main-title: #2c2c2c;
    --gray-main-text: #919191;
    --gray-footer-text: #818181;
    --gray-header-bg: #515151;
    --gray-footer-bg: #f9f9f9;
}

/* base styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

/* base styles end */

/* header */

.header {
    background: url('../img/header-bg.jpg') no-repeat center / cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--red);
    font-weight: 700;
    font-size: 20px;
}

.nav__list {
    display: flex;
}

.nav__link {
    color: var(--gray-header-text);
    padding: 22px 25px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}

.nav__link:hover {
    color: var(--darkwhite);
    background: var(--gray-header-bg);
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.header__title {
    font-size: 40px;
    font-weight: 700;
    color: var(--red);
    margin-bottom: 40px;
}

.header__subtitle {
    font-size: 18px;
    color: var(--gray-header-text);
}

.header__span {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
}

/* header end */

/* main */

.main {
    padding: 100px 0;
}

.main__container {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    width: 542px;
}

.left__image {
    width: 100%;
}

.left__title {
    margin: 60px 0 30px;
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
}

.left__span {
    color: var(--gray-main-title);
    font-size: 25px;
}

.left__text {
    color: var(--gray-main-text);
    line-height: 1.5;
}
  
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.card__image {
    margin-right: 20px;
}

.card__title {
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 25px;
}

.card__description {
    color: var(--gray-main-text);
    line-height: 1.5;
}

/* main end */

/* footer */

.footer {
    padding: 50px 0;
    background: var(--gray-footer-bg);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.footer__title {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__span {
    color: var(--red);
}

.footer__link {
    color: var(--gray-footer-text);
    border-bottom: 1px solid var(--gray-footer-text);
    margin-bottom: 3px;
    display: inline-block;
}

.footer__link:hover {
    color: var(--red);
}

/* footer end */